#content {
    max-width: 1600px;
    margin: 0 auto;
}

.nav a {
    text-align: center;
    color: black;
}


.nav a:hover {
    background-color: bisque;
    color: black;
}

.home-title{
    color: blue;
}

h4{
color: red;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: beige;
}

body {
    background-color: azure;
}

header {
    background-color: antiquewhite;
}


.book, .join {
    background-color: aquamarine;
    color: blueviolet;
}

.book:hover, .join:hover {
    background-color: black;
    color: orange;
}

.msg {
    background-color: blueviolet;
}

.msg h2 {
    color:cornflowerblue;
}

.msg p {
    color:darkgreen;
}

footer {
    background-color: blueviolet;
    color: darkmagenta;
}

footer a {
    color:crimson;
}

footer a:hover{
    color: ;
}