*{
    text-decoration: none;
    
}

a{
    color: #083D77;
}

a:hover{
    color: white;

 }

p{
    text-decoration: none;
    color: #083D77;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.logo{
    width: 80px;
}

.icon{
    width: 80px;
}

.nav a {
    text-align: center;
    color: #083D77;
    text-decoration: none;
}


.nav a:hover {
    background-color: bisque;
    color: #083D77;
}

.home-title{
    color: #083D77;
}

h4{
color: black;
}

#hero {
    background-color: beige;
}

#hero-img{
    width: 100%;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color:#083D77;
}

body {
    background-color: white;
}

header {
    background-color: #EE964B;
}


.book, .join {
    background-color: #EE964B;
    color: white;
    text-decoration: none;
}

.book:hover, .join:hover {
    background-color: black;
    color: #EE964B;
}

.msg {
    background-color: #EBEBD3;
}

.msg h2 {
    color: #083D77;
}

.msg p {
    color:#083D77;
}

footer {
    background-color: #EE964B;
    color: #083D77;
}

footer a {
    color:#083D77;
    text-decoration: none;
}

footer a:hover{
    color: white;
    text-decoration: none;
}

footer p{
    font-size: 1.23em;
}

footer p a:hover {
    text-decoration: none;
} 